[submodule "submodules/LoFTR"]
	path = submodules/LoFTR
	url = https://github.com/fischerandom1/LoFTR.git
[submodule "submodules/DeepLM"]
	path = submodules/DeepLM
	url = https://github.com/hjwdzh/DeepLM
